@font-face {
  font-family: "Futura PT";
  src: url("FuturaPT-Light.woff2") format("woff2"),
    url("FuturaPT-Light.woff") format("woff"),
    url("FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: calc(60% + 0.8vmin);
}

* {
  font-size: 1rem;
  font-family: "Futura PT", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(19, 24, 45);
}

#master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
}

p {
  font-size: 1.2rem;
}

hr {
  width: 50%;
  margin: 2rem auto;
  border: 1px solid rgb(19, 24, 45);
  color: rgb(19, 24, 45);
}

/* Title section */

#title-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#title-section {
  margin-top: 5rem;
  width: 100%;
  box-shadow: 10px 10px rgba(98, 136, 133, 0.4);
  border: 1px solid rgb(98, 136, 133);
  width: max-content;
  padding: 1rem;
}

#page-title {
  font-size: 3rem;
  color: rgb(98, 136, 133);
}

#page-subtitle {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(98, 136, 133);
}

/* Content Section */

#text-content {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 100%;
  border: 1px solid black;
  margin: 3rem 0;
  position: relative;
  background-color: rgb(210, 214, 243);
  color: rgb(19, 24, 45);
  border-radius: 5px;
}

#text-content::before {
  position: absolute;
  top: 15px;
  right: -20px;
  width: 100%;
  height: 100%;
  border: 3px solid rgb(98, 136, 133);
  border-radius: 5px;
  content: "";
  z-index: -1;
}

.article-subtitle {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  margin: 1.5rem 0;
  /* text-align: center; */
}

.section-subtitle {
  text-decoration: underline;
}

.article-img {
  width: auto;
  height: 20rem;
  max-width: 40rem;
  border-radius: 10px;
  margin: 2rem 0;
}
